[credential]
	helper = libsecret
[user]
    name = Lex van der Woude
	email = lex@bizhub.co.nz
    signingkey = lex@bizhub.co.nz
[commit]
    gpgsign = true
[tag]
    gpgsign = true
[core]
	safecrlf = false
	autocrlf = input
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
