# General
alias cls='clear'
alias ..='cd ../'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ll='ls -alF --group-directories-first'
alias llc='clear && ls -alF --group-directories-first'
alias repo='cd $(ls -d ~/repos/* | fzf --height 40% --reverse --preview "git -C {1} status -s")'

alias r='ranger'
alias o='xdg-open 2>/dev/null'
alias of='fzf --reverse | xargs -ro xdg-open 2>/dev/null'

alias mv='mv -i'
alias cp='cp -i'
alias rm='rm -i'
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias np='nano -w PKGBUILD'
alias h='history'
alias myip='curl http://ipecho.net/plain; echo'

alias wname='xprop | grep WM_CLASS'
alias clip='xclip -sel clip'

# Package managers
alias pacc='sudo pacman -Rns $(pacman -Qdtq)'
alias yayf="yay -Slq | fzf --multi --height 100% --preview 'yay -Si {1}' | xargs -ro yay -S"
alias yayr="yay -Qq | fzf --multi --height 100% --preview 'yay -Qi {1}' | xargs -ro yay -Rns"

# Systemd
alias sc='systemctl'
alias scu='systemctl --user'

# Git
alias g='git'
alias gl='git --no-pager log --oneline --graph --decorate -10'
alias gla='git log --oneline --graph --decorate --all'
alias gc='git commit'
alias gp='git push origin'
alias gpt='git push origin --tags'
alias gf='git fetch'
alias gs='git status -s'
alias ga='git add'
alias gaf='git ls-files -m -o --exclude-standard | fzf --reverse -m --print0 | xargs -0 git add'
alias gr='git restore --staged'
alias gb='git branch'
alias go='git checkout'
alias gt='git --no-pager tag'
alias gm='git merge'
alias gd='git diff'
alias nah='git reset --hard HEAD'
alias gclear='git config --unset credential.helper'

# Docker
alias dps='docker ps -a'
alias drmid='docker rmi $(docker images -f "dangling=true" -q)'
alias drmca='docker rm $(docker ps -a -f status=exited -q)'

# Docker compose
alias dc='docker-compose'
alias dcr='docker-compose run --rm'
alias dce='docker-compose exec'

# PHP Unit
alias pu='./vendor/bin/phpunit'
alias puf='./vendor/bin/phpunit --filter='

# PHP Stan
alias stan='./vendor/bin/phpstan'
alias stanl='stan analyse --memory-limit=2G'

# Vim
alias v='vim'
alias vf='fzf --reverse | xargs -ro vim'

# Vscode
alias codef='fzf --reverse | xargs -ro code'

#################################
# Laravel Sail
#################################

alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'
alias up='sail up -d'
alias down='sail down'
alias build='sail up -d --build'

# Artisan
alias a='sail artisan'
alias fresh='sail artisan migrate:refresh --seed'
alias migrate="sail artisan migrate"
alias seed='sail artisan db:seed'
alias test='sail artisan test'
alias testf='sail artisan test --filter='
alias serve='sail artisan serve'

# Npm
alias watch='sail npm run watch'
alias dev='sail npm run dev'
alias prod='sail npm run production'

alias cuw='code . && up && watch'

#################################
# Functions
#################################

mkd() {
    mkdir -p $1
    cd $1
}

xevv() {
  xev | awk -F'[ )]+' '/^KeyPress/ { a[NR+2] } NR in a { printf "%-3s %s\n", $5, $8 }'
}

#
# # ex - archive extractor
# # usage: ex <file>
ex() {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1     ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

# find-in-file - usage: fif <SEARCH_TERM>
fif() {
  if [ ! "$#" -gt 0 ]; then
    echo "Need a string to search for!";
    return 1;
  fi
  rg --files-with-matches --no-messages "$1" | fzf $FZF_PREVIEW_WINDOW --preview "rg --ignore-case --pretty --context 10 '$1' {}"
}
