export EDITOR=/usr/bin/vim
export TERMINAL=/usr/bin/alacritty

# History
export HISTFILE=~/.cache/zsh/history
export HISTSIZE=10000
export SAVEHIST=10000

# FZF
export FZF_DEFAULT_COMMAND="rg --files --hidden -g '!.git/'"