#!/bin/bash

export EDITOR=/usr/bin/vim
export TERMINAL=/usr/bin/alacritty

# Bash history
export HISTCONTROL=ignoreboth
export HISTSIZE=1000
export HISTFILESIZE=2000

# FZF
export FZF_DEFAULT_COMMAND="rg --files --hidden -g '!.git/'"
